# A workflow that is scheduled to run regularly in order to check that python-run-tests.yml works

name: python-run-tests test workflow

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # schedules this to run weekly
  # schedule:
  #   - cron: '5 3 * * 0' # At 03:05 on Sunday
  push:
    branches: [main, pre-release]
  pull_request:
    branches: [main, pre-release]    

jobs:
  call-test-workflow:
    uses: ./.github/workflows/python-run-tests.yml
    with:
      operating-systems: "['ubuntu-latest', 'macos-latest', 'windows-latest']"
      python-versions:  "['3.9', '3.10', '3.11']"
      working-directory: samplePythonProject
      fail-on-codecov-error: false
    secrets: inherit
